#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.about-me img {
  border-radius: 50%;
  width: 10rem;
}

.about-me h1 {
  font-size: 2em;
}

.social-link {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: white;
  background-color: black;
  margin: 1rem auto;
  border-radius: 100px;
}


.social-link:hover {
  background-color: blueviolet;
  color: black;
}

.footer {
  margin-top: 5rem;
}